.main-content {
  display: flex;
  height: 100%;
}

.homeBottomMobile {
  display: flex;
}

@media (max-width: 660px) {
  .homeBottomMobile {
    display: flex;
    flex-direction: column-reverse;
  }
}