.post {
  padding: 0;
  margin: 0;
  background: rgb(238, 174, 218);
  background: radial-gradient(
    circle,
    rgba(238, 174, 218, 1) 84%,
    rgba(148, 187, 233, 1) 100%
  );
  margin: 15px 0px;
  border-radius: 15px;
  -webkit-box-shadow: 2px 7px 17px -3px rgba(0, 0, 0, 0.4);
  box-shadow: 2px 7px 17px -3px rgba(0, 0, 0, 0.4);
}
.postTopLeft {
  display: flex;
  align-items: center;
  margin-bottom: 1.5vh;
}
.postProfileImg {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  margin-left: 23px;
  margin-right: 18px;
  object-fit: cover;
}
.postUserName {
  font-size: 16px;
  font-weight: bold;
}
.postDate {
  margin-left: 9px;
  font-size: 13px;
}
.postTop {
  display: flex;
  align-items: center;
  padding: 12px 20px;
  justify-content: space-between;
}
.mainPost {
  margin-top: 23px;
  width: 100%;
  max-height: 500px;
  object-fit: contain;
}
.postDesc {
  margin-left: 30px;
  align-items: center;
}
.postBottom {
  display: flex;
  align-items: center;
  padding: 16px 10%;
  justify-content: space-between;
}
.postBottomLeft {
  display: flex;
  align-items: center;
}
/* react icon styling*/
.reactIcon {
  height: 28px;
  margin-left: 8px;
  cursor: pointer;
}
/* margin to like count */

.likeCount {
  margin-left: 8px;
  cursor: pointer;
}
.commentsCount {
  cursor: pointer;
  border-bottom: 1px dashed rgb(136, 134, 134);
}
